@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1400px;
    padding: 0px 80px;
    margin: auto;
}

/* Navbar Styling */         /* /////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: crimson;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson;
}

.navbar.sticky .logo a span {
    color: #fff;
    transition: all 0.3s ease;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: rgb(7, 58, 198);
    transition: all 0.3s ease;
}

/* menu btn styling */             /* /////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styling */            /* /////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.home {
    display: flex;
    background: url("./img/banner.jpg") no-repeat center;
    height: 85vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3 ease;
}

.home .home-content a:hover {
    background: none;
    transition: all 0.4s ease;
}

/* all similar content styling code  */                   /* /////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.about, .services, .skills, .teams, .contact {
    font-family: 'Poppins', sans-serif;
}


.about .about-content,
.services .about-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu' sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -7px;
    left: 50%;
    font-size: 50%;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}




/* about section styling  */               /* /////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

section {
    padding: 100px 0;
}

.about .title::after {
    content: "who i am";
}



.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    text-align: center;
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3 ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
    transition: all .3s ease;
}




/* site */

.site .title::after {
    background-color: #111;
    color: #fff;
}
.site {
    background-color: #111;
    color: #fff;
}
.site .tortta .tortta2 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}
.site .tortta .tortta2 img {
    width: 100%;
}







/* services secttion styling              /* /////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.services, .teams {
    background: #111 ;
    color: #fff;
}

.services .title::before,
.teams .title::before {
    background: #fff;
}

.services .title::after,
.teams .title::after  {
    content: "what i provide";
    background: #111;
} 
.services .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 25px 30px;
    cursor: pointer;
    transition: all .3s ease;

}
.services .serv-content .card i {
    font-size: 50px;
    color: crimson;
    transition: color .3s ease;
}
.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .serv-content .card p {
    font-size: 18px;
}
.services .serv-content .card .box {
    transition: all .3s ease;
}
.services .serv-content .card:hover {
    background: crimson;
}
.services .serv-content .card:hover i {
    color: #fff;
}
.services .serv-content .card:hover .box {
    transform: scale(1.05);
}
.services .serv-content {
    display: flex;
    justify-content: space-between;
}



/* .skills section styling */                /* /////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.skills .title::after {
    content: "what i know ";
}
.skills .skills-content .column {
    width: calc(50% - 30px );
}
.skills .skills-content .left .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom:  10px ;
}
.skills .skills-content .left p {
    text-align: justify;
}
.skills .skills-content .left a {
    display: inline-block;
    background: crimson;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3 ease; 
}
.skills .skills-content .left a:hover {
    color: crimson;
    background: none;
    transition: all 0.6 ease; 
}
.skills .skills-content .right .bars {
    margin-bottom: 15px;
}
.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    /* width: 80%; */
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before {
    width: 90%;
}
.skills-content .right .css::before {
    width: 80%;
}
.skills-content .right .sass::before {
    width: 85%;
}
.skills-content .right .js::before {
    width: 50%;
}
.skills-content .right .bt::before {
    width: 70%;
}


/* teams section styling */               /* /////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* .teams .title::after {
    content: "who with me";
} */
.teams .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease; 
}
.teams .carousel .card:hover {
    background: crimson;
}
.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box {
    transform: scale(1.05);
}
.teams .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .card img  {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border:  5px solid crimson;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img {
    border-color: #fff;
}
.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
    background: crimson!important;
}





/* contact section styling */       /* /////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.contact .title::after {
    content: "get in touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .left {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;

}

.contact .contact-content .left p {
      text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row a {
    color: #111;
}
.contact .contact-content .row a:hover {
    color: crimson;
    transition: all .3s ease;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .row i:hover {
    font-size: 25px;
    color: rgb(0, 0, 0);
    transition: all .3s ease;
}

.contact .contact-content .info .head {
    font-weight: 500;
}
.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;   
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea {
    height: 80px;
    width: 100%;
}
.contact .right form .name {
    margin-right: 10px;
}
.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 100%;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}
.contact .right form .button button:hover {
    color: crimson;
    background: none;
    transition: all .3s ease;
}






















/* responsive media query start  */

@media (max-width: 1104px) {
    .home .max-width {
        margin-left: 0px;
    }
}
@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-radius: 6px;
    }
} 

@media (max-width: 991px) {
    .max-width {
        padding: 0px 50px;
    }

}@media (max-width: 1010px) {
    .services .serv-content {
        flex-wrap: wrap;
    }
    .services .serv-content .card {
        margin-bottom: 20px;
        width: 100%;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.5s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
        margin-left: -3px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }   

    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100% ;
    }
    .services .serv-content .card,
    .skills .skills-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
        margin-left: -3px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .max-width {
        padding: 0 20px;
    }

    .home .home-content .text-2 {
        font-size: 45px;
        margin-left: -4px;
    }

    .home .home-content .text-3 {
        font-size: 30px;
    }
}